body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
}

/* Barra lateral */
.sidebar {
    width: 250px;
    height: 100vh;
    background: #1d3557;
    color: white;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
}

.sidebar h2 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    padding: 10px 0;
}

.sidebar nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 8px;
    border-radius: 4px;
    transition: background 0.3s;
}

.sidebar nav ul li a:hover {
    background: #457b9d;
}

/* Contenido principal */
.content {
    margin-left: 280px; /* Ajuste para separar el contenido */
    padding: 40px;
    width: calc(100% - 280px);
    box-sizing: border-box;
}

h1 {
    color: #333;
}

p {
    font-size: 16px;
    color: #555;
}
